body {
	background-color: rgb(0, 98, 128);
}

#canvas {
	display: flex;
	justify-content: center;
	max-width: 500px;
	margin: auto;
	margin-top: 100px;
}

.scoreBoard {
	text-align: center;
	font-size: 2rem;
}
#btn {
	padding: 25px 50px;
	border-radius: 15px;
	border: none;
	font-size: 1.5rem;
}
#btn:hover {
	cursor: pointer;
}

.gamertag {
	text-align: center;
	margin-top: 50px;
}

#input {
	padding: 20px 50px;
	font-size: 2rem;
	border-radius: 10px;
	border: none;
	background-color: rgb(220, 220, 220);
}

#btn2 {
	padding: 15px 25px;
	font-size: 2rem;
	border-radius: 15px;
	border: none;
	margin-top: 25px;
}

#listOfNames {
	text-align: center;
	font-size: 3rem;
	padding-top: 25px;
}
